* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family:  -apple-system, BlinkMacSystemFont, 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: #F5F543;
}

::selection {
  color: black;
  background: #F5F543;
}

#unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}